/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  -webkit-backface-visibility: hidden;
}

@media screen and (max-width: 413px) {
  html {
    font-size: 54px;
  }
}
@media screen and (max-width: 768px) and (min-width: 414px) {
  html {
    font-size: 60px;
  }
}
body {
  font-family: sans-serif;
  color: #1e1e1e;
  font-size: 0.28rem;
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

img {
  width: 100%;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.brown-font {
  color: #887549;
}

.title {
  font-size: 0.4rem;
  background: #cdc7bf;
  color: #fff;
  text-align: center;
  padding: 0.1rem 0;
}

.content {
  padding: 0.28rem;
}
.content .item-list {
  margin-bottom: 0.28rem;
}

.item-list .time {
  color: #887549;
  font-size: 0.28rem;
}

.content-collection img {
  display: block;
  margin-bottom: 0.1rem;
}
.content-collection img:last-child {
  margin-bottom: 0;
}

.page-fragrance {
  background: #f2f2f2;
}
.page-fragrance .phase-1 {
  padding: 0.28rem;
}
.page-fragrance .name {
  color: #000;
}
.page-fragrance .content {
  background: url("../img/f-bg.jpg") no-repeat;
  background-size: 100%;
}

.page-legend {
  background: #fff;
}
.page-legend .content {
  background-color: #f2f2f2;
}
.page-legend .l1 {
  padding: 0.2rem 0.2rem 0.4rem;
}

.inspiration {
  position: relative;
}
.inspiration .des {
  position: absolute;
  z-index: 2;
}
.inspiration.inspiration-1 .des {
  color: #fff;
  width: 92%;
  height: auto;
  left: 4%;
  bottom: 4%;
}
.inspiration.inspiration-2 .des {
  color: #000;
  width: 92%;
  height: auto;
  left: 4%;
  top: 1%;
}

.page-historicalmoments {
  background: #f2f2f2;
}
.page-historicalmoments img {
  display: block;
}
.page-historicalmoments .content {
  padding: 0;
}
.page-historicalmoments .content p {
  padding: 0.2rem;
}

.page-book .item-book .bottom-bg {
  width: 100%;
  height: 1rem;
  background: url("../img/f-bg.jpg") no-repeat;
  background-size: 100%;
}
.page-book .item-book .brown-font {
  text-align: center;
  padding: 0.3rem;
}

#__bs_notify__ {
  display: none !important;
}
