/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "_mixins.scss";
@import "_animate.scss";


@media screen and (max-width: 413px){
  html{
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) and (min-width: 414px){
  html{
    font-size: 50px;
  }
}
body{
  font-family: sans-serif;
  color: #1e1e1e;
  font-size: 0.28rem;
  line-height: 1.5;
}

strong{
  font-weight: bold;
}
img{
  width: 100%;
}
.show{
  display: block !important;
}
.hide{
  display: none !important;
}
.error{
  color: red;
  text-align: left;
  font-size: 0.2rem;
}

.brown-font{
  color: #887549;
}
.grey-bg{
  background: #f2f2f2;
}
.wrapper{
  text-align: justify;
}
.page-history{
  .wrapper{
    text-align: left;
  }
}
//for history page
.title{
  font-size: 0.4rem;
  background: #cdc7bf;
  color: #fff;
  text-align: center;
  padding: 0.1rem 0;
}
.content{
  padding: 0.28rem;
  .item-list{
    margin-bottom: 0.28rem;
  }
}
.item-list{
  .time{
    color: #887549;
    font-size: 0.28rem;
  }
}

//for collection page
.content-collection{
  img{
    display: block;
    margin-bottom: 0.1rem;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

//for page-fragrance
.page-fragrance{
  background: #f2f2f2;
  .phase-1{
    padding: 0.28rem;
  }
  .name{
    color: #000;
  }
  .content{
    background: url("../img/f-bg.jpg") no-repeat;
    background-size: 100%;
  }

}
//for page-legend
.page-legend{
  background: #fff;
  .title{
    margin-top: 20px;
  }
  .content{
    padding: 0;
    background-color: #f2f2f2;
  }
  .l1{
    padding: 0.2rem 0.2rem 0.4rem;
  }
}


//for inspiration-1
.inspiration{
  position: relative;
  .des{
    position: absolute;
    z-index: 2;
  }
  &.inspiration-1{
    .des{
      color: #fff;
      @include size(92%,auto);
      left: 4%;
      bottom: 4%;
    }
  }
  &.inspiration-2{
    .des{
      color: #000;
      @include size(92%,auto);
      left: 4%;
      top: 1%;
    }
  }
}

//for page-historicalmoments
.page-historicalmoments{
  background: #f2f2f2;
  img{
    display: block;
  }
  .content{
    padding: 0;
    p{
      padding: 0.2rem;
    }
  }
}

.wrapper-3 .title{
  margin-top: 20px;
}

//for page-book
.page-book{
  img{
    display: block;
  }
  .item-book{
    .bottom-bg{
      width: 100%;
      height: 1rem;
      background: url("../img/f-bg.jpg")  no-repeat;
      background-size: 100%;
    }
    .brown-font{
      text-align: center;
      padding: 0.3rem;
      background: #f2f2f2;
    }
  }
}


//for slide js
.slide{
  position: relative;
  .slidesjs-pagination{
    display: none;
    .slidesjs-pagination-item{

      a{
        display: block;
      }
    }
  }
  .slidesjs-navigation{
    display: block;
    position: absolute;
    @include size(0.3rem,0.3rem);
    z-index: 100;
    top: 50%;
    text-indent: -999em;
    border-left:#f2ece8 2px solid ;
    border-bottom:#f2ece8 2px solid ;
    &.slidesjs-previous{
      left: 0.5rem;
      @include transform(rotate(45deg));
    }
    &.slidesjs-next{
      right: 0.5rem;
      @include transform(rotate(-135deg));
    }
  }
}

//for page store
body.page-store{
  padding: 0.3rem;
  background: #e6e6e6;
}
.avatar{
  @include size(1.52rem,1.52rem);
  margin: 0.5rem auto 0.4rem;
}
.add-content{
  width: 100%;
  margin: 0 auto 0.3rem;
  padding: 0.3rem 0;
  background: #fff;
  text-align: center;
  font-size: 0.32rem;
  hr{
    border: none;
    width: 30%;
    margin: 0.3rem auto;
    height: 1px;
    background: #000;
  }
}

//for form
.tips{
  background: #cdc7bf;
  color: #fff;
  font-size: 0.4rem;
  text-align: center;
  padding: 0.15rem 0;
}
#form-reservation{
  padding: 5%;
  h3{
    color: rgba(0,0,0,0.6);
    font-size: 0.35rem;
    text-align: center;
    padding: 0.2rem 0;
  }
  .input-box{
    text-align: center;
    &.input-box-contact{
      text-align: left;
      color: #757575;
      font-size: 0.35rem;
      .c-tips{
        margin: 0.2rem auto;
        text-align: center;
        font-size: 0.35rem;
      }
    }
  }
  select,
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="date"],
  input[type="number"]{
    @include size(100%,0.8rem);
    margin: 0.2rem auto;
    border: none;
    background: #fff;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 10px;
    padding: 0;
    font-size: 0.3rem;
  }
  select{
    color: #fff;
  }
  .select-box{
    position: relative;

    &.selected{
      label{
        display: none;
      }
      select{
        color: #000;
      }
    }
    &:after{
      content: '';
      display: block;
      @include size(0.2rem,0.2rem);
      position: absolute;
      right: 0.2rem;
      top: 0.45rem;
      border-bottom: #252525 1px solid;
      border-left: #252525 1px solid;
      @include transform(rotate(-45deg));
    }
    label{
      position: absolute;
      left: 0.2rem;
      top: 0.4rem;
      color: #9e9e9e;
      font-size: 0.3rem;
      z-index: 2;
      width: 60%;
      text-align: left;
    }

  }
  .btn-submit{
    background: #cdc7bf;
    @include size(100%,0.8rem);
    line-height: 0.8rem;
    margin: 0.2rem auto 0.3rem;
    text-align: center;
    color: #fff;
    font-size: 0.4rem;
    font-weight: bold;
  }
  textarea{
    width: 100%;
    background: #fff;
    border: none;
    font-size: 0.3rem;
  }
  .input-box-date{
    h3{
      font-size: 0.3rem;
      text-align: left;
    }
  }
}

//test
#__bs_notify__{
  display: none !important;
}
